<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Chore %><br />
    <%= f.text_field :ch_name %>
  </div>
  <div class="field">
    <%= f.label :Date %><br />
    <%= f.date_select :ch_date %>
  </div>
  <div class="field">
    <%= f.label :Completed? %><br />
    <%= f.check_box :ch_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
